div{ 
    border: 3PX solid orange;
    border-radius: 10px;
    margin: 5px;
    text-align: justify;
    width: 30%;
    float: left;
    padding: 10px;
    color: blue;
    
  
  
  } 
  
  h1{
    text-align: center;
    color: red;
  
  
  }




p
